@media screen and (min-width: 200px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
    height: 100px;
  }
  
  .list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 150px;
  }
  
  .logo {
    margin-left: 250px;
  }
  
  @media screen and (max-width: 600px) {
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid black;
      background-color: rgb(255, 255, 255);
      height: 90px;
    }
  
    .list {
      margin: 10px;
    }
  
    .logo {
      margin: 10px;
    }
  }
  
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    background-color: rgb(15, 15, 15);
    transition: 5s;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.item{
    font-size: 25px;
}
Link{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
Link:hover{
  background-color: rgb(15, 15, 15);
  transition: 5s;
  color: aliceblue;
  border-radius: 5px;
}